<p>
  laws works!
</p>

<ul>
  <div *ngIf="!((law$ | async)?.length)">
    No Laws, wait for Rene to Add them
  </div>
  <mat-card class="law-list-card" *ngFor="let law of (law$ | async)">
    <mat-card-header>
      <div mat-card-avatar class="material-icons">account_balance</div>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
        <div>{{law.name}}</div>
        <div>Added: {{law.publish | date}}</div>
      </mat-card-title>
      <mat-card-subtitle>Published on the newspaper of {{law.publish | date}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</ul>