.sidenav {
  background-color: #2b3243;
  height: 100vh;
  width: 68px;
  display: flex;
  padding: 20px 0;
  .item {
    margin-bottom: 20px;
  }
  .active {
    color: aqua;
  }

  a {
    text-decoration: none;
  }
}
